@import "tailwindcss";

@plugin "tailwind-scrollbar";

@theme {
    --color-gray-900: #202225;
    --color-gray-800: #2f3136;
    --color-gray-700: #36393f;
    --color-gray-600: #4f545c;
    --color-gray-400: #d4d7dc;
    --color-gray-300: #e3e5e8;
    --color-gray-200: #ebedef;
    --color-gray-100: #f2f3f5;
    --color-background: #141414;
    --animate-grow: grow 0.3s ease-in-out ;
    --animate-shrink:shrink 0.3s ease-in-out;
    --animate-image:imageClick 0.3s ease-in-out;
    --font-jacques:var(--font-jacques);

    @keyframes grow {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);

      }
    }

    @keyframes shrink {
      from {
        transform: scale(1);

      }
      to {
        transform: scale(0.5);

      }
    }

    @keyframes imageClick {
      from {
        transform:scale(0.95);
      }
      to {
        transform:scale(1);
      }
    }

   




}
:root {
  --background:  #141414; 
  
}
body {
  background-color: var(--background);
  color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
}


/* Scrollbar pour Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background:var(--background);  /* Couleur du fond de la scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: #eeeeee;   /* Couleur du curseur de scroll */
  border-radius: 10px;
  border: 2px solid #f3f4f6;   /* Donne un effet de "padding" autour du thumb */
}